.battle {
	width: 700px;
	height: 500px;
	border: solid 1px black;
	position: relative;
	margin-top: 50px;
	padding: 10px;
	box-sizing: border-box;
}

.ally {
	height: 250px;
	width: 700px;
	bottom: 0;
	left: 0;
}

.picture, .infos_battle {
	display: inline-block;
	width: 340px;
	vertical-align: top;
}

.ally .picture {
	margin-bottom: 100px;
}

.ally .picture img {
	float: left;
}

.ennemy {
	height: 200px;
	width: 700px;
	top: 0;
	left: 0;
}

.ennemy .picture {
	float: right;
	position: relative;
}

.ennemy .picture img {
	position: absolute;
	right: 20px;
}

.ennemy .anim {
	position: absolute;
	right: 110px;
	top: 56px;
	z-index: 2;
}

.choose {
	padding: 0;
	margin: 0;
}

.choose li {
	list-style: none;
	display: inline-block;
	width: 170px;
	margin: 0;
	vertical-align: top;
}

.choose li button {
	width: 170px;
	margin: 0;
	padding: 4px;
	height: 70px;
	border: solid 1px black;
	box-sizing: border-box;
}

.choose li button span {
	font-size: 10px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.choose li button em {
	font-style: normal;
}

.status div {
	margin-top: 10px;
}

.status b {
	width: 30px;
	display: inline-block;
	vertical-align: top;
}

.status span {
	display: inline-block;
	vertical-align: top;
	background-color: blue;
	width: 300px;
	color: white;
}

.choose_perso li {
	list-style: none;
	display: inline-block;
}

.choose_perso li img {
	max-width: 100px;
	border: solid 1px black;
	margin: 10px;
	cursor: pointer;
}

.anim_physic {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid black;
	position: relative;
}
.anim_physic:after {
	content:'';
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid black;
	width:0;
	height:0;
	position: absolute;
	top:30px;
	left:-50px;
}

.anim_cut {
	width: 4px;
	height: 100px;
	background-color: black;
	-webkit-transform: rotate(15deg);
}

.anim_magic {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-color: aqua;
}