.battle {
	width: 700px;
	height: 500px;
	border: solid 1px black;
	position: relative;
	margin-top: 20px;
	padding: 10px;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}

.chat {
	display: inline-block;
	vertical-align: top;
}

.ally {
	height: 250px;
	width: 700px;
	bottom: 0;
	left: 0;
	position: relative;
}

.pseudo {

	span {
		font-size: 16px;
		margin-left: 15px;
	}
}

.picture, .infos_battle {
	display: inline-block;
	width: 340px;
	vertical-align: top;
} 

.ennemy.injured img, .ally.injured img {
	animation-name: injured;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
}

.ally {

	.picture {
		margin-bottom: 100px;

		img {
			float: left;
		}
	}
	.anim {
		position: absolute;
		right: 110px;
		top: 56px;
		z-index: 2;
	}
}

.ennemy {
	height: 200px;
	width: 700px;
	top: 0;
	left: 0;
	position: relative;

	.picture {
		float: right;
		position: relative;

		img {
			position: absolute;
			right: 20px;
		}
	}

	.anim {
		position: absolute;
		right: 110px;
		top: 56px;
		z-index: 2;
	}
}


.choose {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
		display: inline-block;
		width: 170px;
		margin: 0;
		vertical-align: top;

		button {
			width: 170px;
			margin: 0;
			padding: 4px;
			height: 70px;
			border: solid 1px black;
			box-sizing: border-box;

			span {
				font-size: 10px;
				position: absolute;
				bottom: 10px;
				right: 10px;
			}

			em {
				font-style: normal;
			}
		}
	}
}

.choose_perso {

	 li {
		list-style: none;
		display: inline-block;
		position: relative;

		img {
			max-width: 100px;
			border: solid 1px black;
			margin: 10px;
			filter: grayscale(100%); 

			&.unlocked {
				cursor: pointer;
				filter: grayscale(0%); 
			}
		}

		.sub {
			display: none;
			position: absolute;
		}

		&:hover {
			.sub {
				display: block;
			}
		}
	}
}

.status {

	div {
		margin-top: 10px;
	}
	b {
		width: 30px;
		display: inline-block;
		vertical-align: top;
	}
	span {
		display: inline-block;
		vertical-align: top;
		background-color: blue;
		width: 300px;
		color: white;
	}
}


/********************/
/*	  ANIMATIONS	*/
/********************/

$left_ally : -540px;
$left_ennemy : -70px;
$top : -20px;


/*
*	PUNCH
*/

.anim_physic {
	width: 80px;
	height: 87px;
	position: absolute;
	background-image: url('../img/anim/punch.png');
	background-repeat: no-repeat;
	animation-name: physic;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

.ally .anim_physic {
	left: $left_ally;
}
.ennemy .anim_physic {
	left: $left_ennemy;
}

@keyframes physic {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*
*	MAGNUM
*/

.anim_magnum {
	width: 169px;
	height: 87px;
	position: absolute;
	background-image: url('../img/anim/magnum.png');
	background-repeat: no-repeat;
	animation-name: magnum;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

.ally .anim_magnum {
	left: $left_ally - 50px;
}
.ennemy .anim_magnum {
	left: $left_ennemy - 50px;
}

@keyframes magnum {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*
*	DOUBLE PUNCH
*/

.anim_physic2 {
	width: 169px;
	height: 87px;
	position: absolute;
	background-image: url('../img/anim/physic2.png');
	background-repeat: no-repeat;
	animation-name: physic2;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

.ally .anim_physic2 {
	left: $left_ally - 50px;
}
.ennemy .anim_physic2 {
	left: $left_ennemy - 50px;
}

@keyframes physic2 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1
	}
}

/*
*	CUT
*/

.anim_cut {
	width: 4px;
	max-width: 4px;
	height: 0;
	background-color: black;
	position: absolute;
	left: 62px;
	top: -47px;
	transform: rotate(41deg);
	animation-name: cut;
	animation-duration: 1s;
  	transform-origin: 0% 0%;
}

.ally .anim_cut {
	left: $left_ally + 112px;
}
.ennemy .anim_cut {
	left: $left_ennemy + 112px;
}

@keyframes cut {
	0% {
		height: 1px;
	}
	100% {
		height: 200px;
	}
}

/*
*	CUT ASCENDANT
*/

.anim_cut_bas {
	width: 4px;
	max-width: 4px;
	height: 0;
	background-color: black;
	position: absolute;
	transform: rotate(41deg);
	animation-name: cut_bas;
	animation-duration: 1s;
}

.ally .anim_cut_bas {
	animation-name: receive_cut_bas;
}
.ennemy .anim_cut_bas {
	animation-name: cut_bas;
}

@keyframes cut_bas {
	0% {
		left: $left_ennemy - 35px;
		top: $top + 123px;
		height: 1px;
	}
	100% {
		left: $left_ennemy + 30px;
		top: $top - 52px;
		height: 200px;
	}
}

@keyframes receive_cut_bas {
	0% {
		left: $left_ally + 35px;
		top: $top - 123px;
		height: 1px;
	}
	100% {
		left: $left_ally - 30px;
		top: $top + 52px;
		height: 200px;
	}
}

/*
*	GATLING
*/

.anim_gatling {
	width: 80px;
	height: 87px;
	position: absolute;
	background-image: url('../img/anim/punch.png');
	background-repeat: no-repeat;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
}

.ally .anim_gatling {
	animation-name: receive_gatling;
}
.ennemy .anim_gatling {
	animation-name: gatling;
}

@keyframes gatling {
	0% {
		opacity: 1;
		left: $left_ennemy;
		top: $top;
	}
	5% {
		opacity: 0;
	}
	10% {
		opacity: 1;
		left: $left_ennemy + 50px;
		top: $top + 50px;
	}
	15% {
		opacity: 0;
	}
	20% {
		opacity: 1;
		left: $left_ennemy + 100px;
		top: $top + 100px;
	}
	25% {
		opacity: 0;
	}
	30% {
		opacity: 1;
		left: $left_ennemy + 150px;
		top: $top + 50px;
	}
	35% {
		opacity: 0;
	}
	40% {
		opacity: 1;
		left: $left_ennemy + 100px;
		top: $top;
	}
	45% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		left: $left_ennemy + 50px;
		top: $top - 50px;
	}
	55% {
		opacity: 0;
	}
	60% {
		opacity: 1;
		left: $left_ennemy;
		top: $top - 100px;
	}
	65% {
		opacity: 0;
	}
	70% {
		opacity: 1;
		left: $left_ennemy - 50px;
		top: $top - 50px;
	}
	75% {
		opacity: 0;
	}
	80% {
		opacity: 1;
		left: $left_ennemy;
		top: $top;
	}
	85% {
		opacity: 0;
	}
	90% {
		opacity: 1;
		left: $left_ennemy + 50px;
		top: $top + 50px;
	}
	95% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		left: $left_ennemy;
		top: $top;
	}
}

@keyframes receive_gatling {
	0% {
		opacity: 1;
		left: $left_ally;
		top: $top;
	}
	5% {
		opacity: 0;
	}
	10% {
		opacity: 1;
		left: $left_ally - 50px;
		top: $top - 50px;
	}
	15% {
		opacity: 0;
	}
	20% {
		opacity: 1;
		left: $left_ally - 100px;
		top: $top - 100px;
	}
	25% {
		opacity: 0;
	}
	30% {
		opacity: 1;
		left: $left_ally - 150px;
		top: $top - 50px;
	}
	35% {
		opacity: 0;
	}
	40% {
		opacity: 1;
		left: $left_ally - 100px;
		top: $top;
	}
	45% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		left: $left_ally - 50px;
		top: $top + 50px;
	}
	55% {
		opacity: 0;
	}
	60% {
		opacity: 1;
		left: $left_ally;
		top: $top + 100px;
	}
	65% {
		opacity: 0;
	}
	70% {
		opacity: 1;
		left: $left_ally + 50px;
		top: $top + 50px;
	}
	75% {
		opacity: 0;
	}
	80% {
		opacity: 1;
		left: $left_ally;
		top: $top;
	}
	85% {
		opacity: 0;
	}
	90% {
		opacity: 1;
		left: $left_ally - 50px;
		top: $top - 50px;
	}
	95% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		left: $left_ally;
		top: $top;
	}
}

/*
*	BUBBLE
*/

.anim_bubble {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	position: absolute;
	background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); 
	opacity: 0.8;
	animation-name: bubble;
	animation-duration: 1.7s;
	animation-timing-function: ease-in-out;

	&:before, &:after {
		display: none; 
	}

	&:before {
		content: "";
		position: absolute;
		top: 1%;
		left: 5%;
		width: 90%;
		height: 90%;
		border-radius: 100%;
		background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
		filter: blur(5px);
		z-index: 2;
	}

	&:after {
		content: "";
		position: absolute;
		display: none;
		top: 5%;
		left: 10%;
		width: 80%;
		height: 80%;
		border-radius: 100%;
		filter: blur(1px);
		z-index: 2;
		transform: rotateZ(-30deg); 
	}

	.shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
		transform: rotateX(90deg) translateZ(-160px);
		z-index: 1; 
	}

	&.plain {
		background: black; 

		&:before, &:after {
			display: none; 
		}
	}


	&.bubble {
		background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));

		&:before {
			filter: blur(0);
			height: 80%;
			width: 40%;
			background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
			transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
		}

		&:after {
			display: block;
			background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); 
		}
	}
}

.ally .anim_bubble {
	animation-name: receive_bubble;
}
.ennemy .anim_bubble {
	animation-name: bubble;
}

@keyframes bubble {

	0% {
		height: 50px;
	    width: 50px;
	    top: $top + 230px;
	    left: $left_ennemy - 350px;
		transform: scale(1);
	}

	20% {
		transform: scaleY(0.95) scaleX(1.05);
	}

	48% {
		transform: scaleY(1.1) scaleX(0.9);
	}

	68% {
		transform: scaleY(0.98) scaleX(1.02);
	}

	80% {
		transform: scaleY(1.02) scaleX(0.98);
	}

	97%, 100% {
		transform: scale(1);
	}

	100% {
		width: 150px;
	    height: 150px;
	    top: $top - 5px;
	    left: $left_ennemy - 4px;
	}
}

@keyframes receive_bubble {

	0% {
		height: 50px;
	    width: 50px;
	    top: $top - 230px;
	    left: $left_ally + 350px;
		transform: scale(1);
	}

	20% {
		transform: scaleY(0.95) scaleX(1.05);
	}

	48% {
		transform: scaleY(1.1) scaleX(0.9);
	}

	68% {
		transform: scaleY(0.98) scaleX(1.02);
	}

	80% {
		transform: scaleY(1.02) scaleX(0.98);
	}

	97%, 100% {
		transform: scale(1);
	}

	100% {
		width: 150px;
	    height: 150px;
	    top: $top + 5px;
	    left: $left_ally + 4px;
	}
}


/*
*	RASENGAN
*/

.anim_rasengan {
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0;
	border-radius: 50%;
	position: absolute;
	transform-style: preserve-3d;
	background: url('../img/anim/rasengan.png') repeat-x;
	background-size: auto 100%;
	animation-duration: 1.3s;
	animation-timing-function: ease-in-out;
}

.anim_rasengan:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
}

.anim_rasengan:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(0);
  opacity: 0.3;
  background: radial-gradient(circle at 50% 80%, #81e8f6, #76deef 10%, #055194 66%, #062745 100%);
}

.ally .anim_rasengan {
	animation-name: receive_rasengan;
}
.ennemy .anim_rasengan {
	animation-name: rasengan;
}

@keyframes rasengan {
	0% {
	    background-position: 0 0; 
	    height: 50px;
	    width: 50px;
	    top: $top + 230px;
	    left: $left_ennemy - 350px;
	}
	
	100% {
	    background-position: -1250px 0; 
	    width: 150px;
	    height: 150px;
	    top: $top - 5px;
	    left: $left_ennemy - 4px;
	}
}

@keyframes receive_rasengan {
	0% {
	    background-position: 0 0; 
	    height: 50px;
	    width: 50px;
	    top: $top - 230px;
	    left: $left_ally + 350px;
	}
	
	100% {
	    background-position: -1250px 0; 
	    width: 150px;
	    height: 150px;
	    top: $top + 5px;
	    left: $left_ally + 4px;
	}
}


/*
*	GENKIDAMA
*/

.anim_genkidama {
 	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0;
	border-radius: 50%;
	position: absolute;
	transform-style: preserve-3d;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fff9f9), color-stop(60%,#7db9e8), color-stop(100%,#ffffff));
	background: -webkit-radial-gradient(center, ellipse cover, #fff9f9 0%,#7db9e8 60%,#ffffff 100%);
	animation-duration: 1.3s;
	animation-timing-function: ease-in-out;
}

.anim_genkidama:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
}

.anim_genkidama:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(0);
  opacity: 0.3;
}

.ally .anim_genkidama {
	animation-name: receive_genkidama;
}
.ennemy .anim_genkidama {
	animation-name: genkidama;
}

@keyframes genkidama {

	0% {
		height: 50px;
	    width: 50px;
	    top: $top + 230px;
	    left: $left_ennemy - 350px;
	}

	100% {
		width: 150px;
	    height: 150px;
	    top: $top - 5px;
	    left: $left_ennemy - 4px;
	}
}

@keyframes receive_genkidama {

	0% {
		height: 50px;
	    width: 50px;
	    top: $top - 230px;
	    left: $left_ally + 350px;
	}

	100% {
		width: 150px;
	    height: 150px;
	    top: $top + 5px;
	    left: $left_ally + 4px;
	}
}

/*
*	FIREBALL
*/

.anim_fireball {
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0;
	border-radius: 50%;
	position: absolute;
	transform-style: preserve-3d;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
	animation-duration: 1.3s;
	animation-timing-function: ease-in-out;
}

.anim_fireball:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
}

.anim_fireball:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(0);
  opacity: 0.3;
}

.ally .anim_fireball {
	animation-name: receive_fireball;
}
.ennemy .anim_fireball {
	animation-name: fireball;
}

@keyframes fireball {

	0% {
		height: 50px;
	    width: 50px;
	    top: $top + 230px;
	    left: $left_ennemy - 350px;
	}

	100% {
		width: 150px;
	    height: 150px;
	    top: $top - 5px;
	    left: $left_ennemy - 4px;
	}
}

@keyframes receive_fireball {

	0% {
		height: 50px;
	    width: 50px;
	    top: $top - 230px;
	    left: $left_ally + 350px;
	}

	100% {
		width: 150px;
	    height: 150px;
	    top: $top + 5px;
	    left: $left_ally + 4px;
	}
}

/*
*	KAMEHAMEHA
*/

.anim_kamehameha {
	width: 20px;
	height: 2px;
	position: absolute;
	background-color: blue;
	animation-duration: 1.3s;
	animation-timing-function: linear;

	&:after {
		content: '';
		width: 50px;
		height: 50px;
		border-radius: 100%;
		background-color: blue;
		position: absolute;
	}
}

.ally .anim_kamehameha {
	animation-name: receive_kamehameha;
	transform: rotate(-32deg);

	&:after {
		top: 10px;
	  	left: 16px;
	}
}

.ennemy .anim_kamehameha {
	animation-name: kamehameha;
	transform: rotate(58deg);

	&:after {
		top: -10px;
	  	left: -16px;
	}
}

@keyframes kamehameha {
	0% {
	    height: 0px;
	    top: $top + 275px;
		left: $left_ennemy - 386px;

	}
	
	100% {
		top: $top - 69px;
		left: $left_ennemy - 194px;
		height: 450px;
	}
}

@keyframes receive_kamehameha {
	0% {
	    height: 0px;
	    top: $top - 275px;
		left: $left_ally + 386px;

	}
	
	100% {
		top: $top + 69px;
		left: $left_ally + 194px;
		height: 450px;
	}
}

/*
*	SUPER SAIYAN
*/

.anim_saiyan {
	box-shadow: inset 0px 25px 87px 10px #ffc702;
	position: absolute;
	animation-name: saiyan;
	animation-duration: 3s;
	width: 0;
	height: 0;
}

.ally .anim_saiyan {
	animation-name: receive_saiyan;
}

.ennemy .anim_saiyan {
	animation-name: saiyan;
}

@keyframes saiyan {
	0% {
		width: 210px;
		height: 190px;
		top: $top + 150px;
		left: $left_ennemy - 531px;
	    opacity: 0;
	    border-top-left-radius: 50px;
		border-top-right-radius: 50px;
	}

	5% {
		opacity: 1;
	}

	30% {
		width: 190px;
 		height: 190px;
		border-radius: 100%;
	}

	35% {
		top: $top + 170px;
	}

	40% {
		top: $top + 150px;
	}

	45% {
		top: $top + 170px;
	}

	50% {
		top: $top + 150px;
	}

	55% {
		top: $top + 170px;
	}

	60% {
		top: $top + 150px;
	}

	65% {
		top: $top + 170px;
	}

	70% {
		top: $top + 150px;
		left: $left_ennemy - 531px;
	}

	80% {
		top: $top - 43px;
  		left: $left_ennemy + 55px;
  		width: 190px;
 		height: 190px;
	}
	
	90% {
		width: 0px;
		height: 0px;
		top: $top + 41px;
  		left: $left_ennemy + 39px;
	}

	100% {
		top: $top - 43px;
  		left: $left_ennemy - 55px;
		width: 190px;
 		height: 190px;
		border-radius: 100%;
	}
}

@keyframes receive_saiyan {
	0% {
		width: 210px;
		height: 190px;
		top: $top - 150px;
		left: $left_ally + 531px;
	    opacity: 0;
	    border-top-left-radius: 50px;
		border-top-right-radius: 50px;
	}

	5% {
		opacity: 1;
	}

	30% {
		width: 190px;
 		height: 190px;
		border-radius: 100%;
	}

	35% {
		top: $top - 170px;
	}

	40% {
		top: $top - 150px;
	}

	45% {
		top: $top - 170px;
	}

	50% {
		top: $top - 150px;
	}

	55% {
		top: $top - 170px;
	}

	60% {
		top: $top - 150px;
	}

	65% {
		top: $top - 170px;
	}

	70% {
		top: $top - 150px;
		left: $left_ally + 531px;
	}

	80% {
		top: $top + 43px;
  		left: $left_ally - 55px;
  		width: 190px;
 		height: 190px;
	}
	
	90% {
		width: 0px;
		height: 0px;
		top: $top - 41px;
  		left: $left_ally - 39px;
	}

	100% {
		top: $top + 43px;
  		left: $left_ally + 55px;
		width: 190px;
 		height: 190px;
		border-radius: 100%;
	}
}


/*
*	ULTIMATE
*/

.anim_ultimate {
	display: inline-block;
	margin: 0;
	border-radius: 50%;
	position: absolute;
	transform-style: preserve-3d;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(75%,rgba(249,221,149,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(249,221,149,1) 75%,rgba(251,223,147,1) 100%);
	animation-name: ultimate;
	animation-duration: 2.5s;
	animation-timing-function: ease-in-out;

	&:before {
	  content: "";
	  position: absolute;
	  top: 0%;
	  left: 0%;
	  width: 100%;
	  height: 100%;
	  border-radius: 50%;
	  z-index: 2;
	}

	&:after {
	  content: "";
	  position: absolute;
	  border-radius: 50%;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  opacity: 0.3;
	}
}

.ally .anim_ultimate {
	animation-name: receive_ultimate;
}

.ennemy .anim_ultimate {
	animation-name: ultimate;
}

@keyframes ultimate {
	0% {
	    height: 50px;
	    width: 50px;
	    top: $top + 230px;
	    left: $left_ennemy - 350px;
	}

	33% {
		top: $top - 5px;
	    left: $left_ennemy - 4px;
		width: 150px;
	    height: 150px;
	}

	66% {
		top: $top - 805px;
	    left: $left_ennemy - 804px;
		width: 2000px;
	    height: 2000px;
	}
	
	80% {
		top: $top - 5px;
	    left: $left_ennemy - 4px;
	    width: 150px;
	    height: 150px;
	    
	}

	100% {
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(243,197,189,1)), color-stop(50%,rgba(232,108,87,1)), color-stop(51%,rgba(234,40,3,1)), color-stop(75%,rgba(255,102,0,1)), color-stop(100%,rgba(199,34,0,1)));
		background: -webkit-radial-gradient(center, ellipse cover, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
	}
}

@keyframes receive_ultimate {
	0% {
	    height: 50px;
	    width: 50px;
	    top: $top - 230px;
	    left: $left_ally + 350px;
	}

	33% {
		top: $top + 5px;
	    left: $left_ally + 4px;
		width: 150px;
	    height: 150px;
	}

	66% {
		top: $top - 805px;
	    left: $left_ally - 804px;
		width: 2000px;
	    height: 2000px;
	}
	
	80% {
		top: $top + 5px;
	    left: $left_ally + 4px;
	    width: 150px;
	    height: 150px;
	    
	}

	100% {
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(243,197,189,1)), color-stop(50%,rgba(232,108,87,1)), color-stop(51%,rgba(234,40,3,1)), color-stop(75%,rgba(255,102,0,1)), color-stop(100%,rgba(199,34,0,1)));
		background: -webkit-radial-gradient(center, ellipse cover, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%);
	}
}



/*
*	ANIM MANGA BALL
*/

/*
*	FIREBALL
*/

.anim_mangaball {
	display: inline-block;
	width: 60px;
	height: 59px;
	margin: 0;
	position: absolute;
	background-image: url('../img/anim/ball.png');
	background-repeat: no-repeat;
	animation-duration: 1.3s;
	animation-timing-function: ease-in-out;
	animation-name: mangaball;

}

@keyframes mangaball {

	0% {
	    top: $top + 230px;
	    left: $left_ennemy - 350px;
	}

	100% {
	    top: $top - 5px;
	    left: $left_ennemy - 4px;
	}
}



@keyframes injured {
	15% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}